<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="max-w-[300px] mx-auto shadow-md p-6">
    <div>
      <label
        for="inline-input-label-with-helper-text"
        class="block text-sm font-medium mb-2 dark:text-white"
        >First Name</label
      >
      <input
        formControlName="first_name"
        type="text"
        id="inline-input-label-with-helper-text"
        class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
        placeholder=""
        aria-describedby="hs-inline-input-helper-text"
      />
      <p
        *ngIf="controls.first_name.errors?.['required'] && controls.first_name.touched"
        class="text-sm text-red-500 mt-2"
        id="hs-inline-input-helper-text"
      >
        First Name is required.
      </p>
    </div>

    <div>
      <label
        for="inline-input-label-with-helper-text"
        class="block text-sm font-medium mb-2 dark:text-white"
        >Last Name</label
      >
      <input
        formControlName="last_name"
        type="text"
        id="inline-input-label-with-helper-text"
        class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
        placeholder=""
        aria-describedby="hs-inline-input-helper-text"
      />
      <p
        *ngIf="controls.last_name.errors?.['required'] && controls.last_name.touched"
        class="text-sm text-red-500 mt-2"
        id="hs-inline-input-helper-text"
      >
        Last Name is required.
      </p>
    </div>

    <div class="mb-6">
      <label
        for="inline-input-label-with-helper-text"
        class="block text-sm font-medium mb-2 dark:text-white"
        >Email</label
      >
      <input
        formControlName="email"
        type="email"
        id="inline-input-label-with-helper-text"
        class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
        placeholder="you@site.com"
        aria-describedby="hs-inline-input-helper-text"
      />
      <p
        *ngIf="controls.email.errors?.['required'] && controls.email.touched"
        class="text-sm text-red-500 mt-2"
        id="hs-inline-input-helper-text"
      >
        Email is required.
      </p>
    </div>

    <div>
      <label
        for="inline-input-label-with-helper-text"
        class="block text-sm font-medium mb-2 dark:text-white"
        >Password</label
      >
      <input
        formControlName="password"
        type="password"
        id="inline-input-label-with-helper-text"
        class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
        placeholder="*********"
        aria-describedby="hs-inline-input-helper-text"
      />
      <p
        *ngIf="controls.password.errors?.['required'] && controls.password.touched"
        class="text-sm text-red-500 mt-2"
        id="hs-inline-input-helper-text"
      >
        password is required.
      </p>
    </div>
    <button
      [disabled]="!this.registerForm.valid"
      type="submit"
      class="my-8 py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
    >
      Register
    </button>
  </div>
</form>
