<div class="flex items-center justify-between">
  <div>
    <label for="hs-trailing-button-add-on-with-icon-and-button" class="sr-only"
      >Label</label
    >
    <div class="relative flex rounded-md shadow-sm">
      <input
        #criteria
        (keyup)="searchClient(criteria.value)"
        type="text"
        class="py-3 border px-4 pl-11 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
      />
      <div
        class="absolute inset-y-0 left-0 flex items-center pointer-events-none z-20 pl-4"
      >
        <svg
          class="h-4 w-4 text-gray-400"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </div>
      <button
        (click)="searchClient(criteria.value)"
        type="button"
        class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center rounded-r-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
      >
        Search
      </button>
    </div>
  </div>

  <button
    (click)="openCreateClientModal()"
    type="button"
    class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
  >
    Add Client

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="w-5 h-5"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
      />
    </svg>
  </button>
</div>

<div class="flex flex-col my-8">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead>
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Full Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                City
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                State
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Country
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Phone
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Email
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            <tr
              *ngFor="
                let client of clients$ | async | pagination : page : rowsPerPage
              "
              class="hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
              >
                {{ client.first_name }} {{ client.last_name }}
              </td>

              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ client.city }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ client.state }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ client.country }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ client.phone }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ client.email }}
              </td>

              <td
                class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
              >
                <button
                  (click)="openUpdateClientModal(client)"
                  type="button"
                  class="py-2 mr-2 px-3 inline-flex justify-center disabled:bg-slate-400 disabled:cursor-not-allowed items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                >
                  Update
                </button>
                <button
                  type="button"
                  class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<pagination
  [rows]="clients$"
  [rowsPerPage]="rowsPerPage"
  (changePageTo)="changePage($event)"
></pagination>

<create-client-modal
  *ngIf="showCreateClientModal"
  (closeCreateClientModal)="closeCreateClientModal()"
></create-client-modal>

<update-client-modal
  *ngIf="showUpdateClientModal"
  [client]="client"
  (closeUpdateClientModal)="closeUpdateClientModal()"
></update-client-modal>
