<!-- <div class="flex items-center justify-between mb-4">
  <div class="relative flex rounded-md shadow-sm w-[350px]">
    <input
      type="text"
      class="py-3 border px-4 pl-11 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
    />
    <div
      class="absolute inset-y-0 left-0 flex items-center pointer-events-none z-20 pl-4"
    >
      <svg
        class="h-4 w-4 text-gray-400"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
    </div>
    <button
      type="button"
      class="py-3 px-4 inline-flex flex-shrink-0 justify-center items-center rounded-r-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all text-sm"
    >
      Search
    </button>
  </div>
  <a
    routerLink="new"
    class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
  >
    Add new sale
    <svg
      class="w-3.5 h-3.5"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"
      />
    </svg>
  </a>
</div> -->
<div class="flex flex-col bg-white p-4 border rounded-lg">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border rounded-lg overflow-hidden dark:border-gray-700">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Order ID#
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Client Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Client Email
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Date
              </th>

              <th
                scope="col"
                class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                No. Items
              </th>

              <th
                scope="col"
                class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase dark:text-gray-400"
              >
                Total
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            <tr *ngFor="let sale of sales$ | async">
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
              >
                {{ sale.id }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ sale.client.first_name }} {{ sale.client.last_name }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ sale.client.email }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ sale.created_at | date }}
              </td>
              <td
                class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ sale.items.length }}
              </td>
              <td
                class="px-6 text-right py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
              >
                {{ sale.total | currency : "$" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
